wagtail>=5.2,<5.3  # LTS
django>=4.2,<4.3  # LTS

django_compressor
django-crispy-forms
django-libsass
crispy-bootstrap5
mozilla-django-oidc

authlib>=1.2.1,<2
pydantic>=2.4,<3
requests

# Deployment
gunicorn
psycopg[binary,pool]
redis