{% extends "layouts/page.html" %}
{% load wagtailcore_tags wagtailroutablepage_tags %}

{% block title %}Devices{% endblock %}

{% block content %}
    <div class="container mt-3">
        <h1 class="heading">Devices</h1>
        {% include "infra/inc/breadcrumbs_subpage.html" with title="Devices" %}

        <p class="mt-3">{{ page.device_description|richtext}}</p>

        <table class="table mt-3">
            <thead>
                <tr>
                    <th scope="col">Hostname</th>
                    <th scope="col">Status</th>
                    <th scope="col">Role</th>
                    <th scope="col">Platform</th>
                    <th scope="col">Location</th>
                    <th scope="col"><span class="visually-hidden">Actions</span></th>
                </tr>
            </thead>
            <tbody>
                {% for device in devices %}
                    <tr>
                        <td><a href="{% routablepageurl page 'device_view' device.id %}">{{ device.name }}</a></td>
                        <td>{{ device.status }}</td>
                        <td>{% include 'infra/inc/colored_badge.html' with info=device.role %}</td>
                        <td>{% if device.platform %}{{ device.platform.name }}{% else %}-{% endif %}</td>
                        <td>{{ device.rack.name }}</td>
                        <td><a href="{% routablepageurl page 'device_view' device.id %}">View</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}