{% extends "layouts/page.html" %}
{% load wagtailcore_tags %}

{% block content %}
  <div class="container mt-3">
    <h1 class="heading">{{ page.title }}</h1>
    {% include "components/breadcrumbs.html" %}

    {% for block in page.content %}
      <section class="block-{{ block.block_type }}">
        {{ block }}
      </section>
    {% endfor %}

    {% if entity_results %}
      {% include "infra/inc/entity_table.html" with entities=entity_results %}
    {% else %}
      <p>No results found</p>
    {% endif %}
  </div>
{% endblock %}