{% extends "layouts/page.html" %}
{% load wagtailcore_tags wagtailroutablepage_tags %}

{% block title %}Virtual Machines{% endblock %}

{% block content %}
    <div class="container mt-3">
        <h1 class="heading">Virtual Machines</h1>
        {% include "infra/inc/breadcrumbs_subpage.html" with title="Virtual Machines" %}

        <p class="mt-3">{{ page.vm_description|richtext}}</p>

        <table class="table mt-3">
            <thead>
                <tr>
                    <th scope="col">Hostname</th>
                    <th scope="col">Status</th>
                    <th scope="col">Role</th>
                    <th scope="col">Platform</th>
                    <th scope="col">Cluster</th>
                    <th scope="col"><span class="visually-hidden">Actions</span></th>
                </tr>
            </thead>
            <tbody>
                {% for vm in vms %}
                    <tr>
                        <td><a href="{% routablepageurl page 'vm_view' vm.id %}">{{ vm.name }}</a></td>
                        <td>{{ vm.status }}</td>
                        <td>{% include 'infra/inc/colored_badge.html' with info=vm.role %}</td>
                        <td>{% if vm.platform %}{{ vm.platform.name }}{% else %}-{% endif %}</td>
                        <td>{{ vm.cluster.name }}</td>
                        <td><a href="{% routablepageurl page 'vm_view' vm.id %}">View</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}