{% load wagtailcore_tags %}
<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">Hostname</th>
            <th scope="col">Status</th>
            <th scope="col">Role</th>
            <th scope="col">Platform</th>
            <!-- <th scope="col">Location</th> -->
            <th scope="col"><span class="visually-hidden">Actions</span></th>
        </tr>
    </thead>
    <tbody>
        {% for subpage in entities %}
            <tr>
                <td><a href="{% pageurl subpage %}">{{ subpage.title }}</a></td>
                <td>{{ subpage.netbox_data.status|title }}</td>
                <td>{% include 'infra/inc/colored_badge.html' with info=subpage.netbox_data.role %}</td>
                <td>{% if subpage.netbox_data.platform %}{{ subpage.netbox_data.platform.name }}{% else %}-{% endif %}</td>
                <!-- <td>{{ device.rack.name }}</td> -->
                <td><a href="{% pageurl subpage %}">View</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>