{% load wagtailcore_tags %}
{% wagtail_site as current_site %}
<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item"><a href="#!">About</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!">Contact</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!">Terms of Use</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!">Privacy Policy</a></li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; {{ current_site.site_name }} 2007 - {% now "Y" %}. All Rights Reserved.</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                <ul class="list-inline mb-0">
                    {% if settings.core.SiteSettings.github_org %}
                    <li class="list-inline-item me-4">
                        <a href="https://github.com/{{settings.core.SiteSettings.github_org}}" aria-label="GitHub"><i class="bi bi-github fs-3" aria-hidden="true"></i></a>
                    </li>
                    {% endif %}
                    {% if settings.core.SiteSettings.discord_invite %}
                    <li class="list-inline-item me-4">
                        <a href="{{ settings.core.SiteSettings.discord_invite }}" aria-label="Discord Invite"><i class="bi bi-discord fs-3" aria-hidden="true"></i></a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</footer>